.colorPickerContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #547ca6;

}
    

.colorValue{
    margin-top: 30%;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:2px solid #647182;
}
.input{
        width: 60px;
        height: 40px;
}
.copyButton{
    background-color: #647182;
    color: white;
}